Exercise 1 : Matrix Operations

In [29]:
import numpy as np
array1 = [[1, -6, 9],
          [4, 2, 5],
          [1, 3, 8]]

In [27]:
det = round(np.linalg.det(array1))
print("Determinant:",det)

Determinant: 253

In [28]:
array1_inv = np.linalg.inv(array1)
print("Inverse:\n", array1_inv)

Inverse:
 [[ 0.00395257  0.29644269 -0.18972332]
 [-0.10671937 -0.00395257  0.12252964]
 [ 0.03952569 -0.03557312  0.1027668 ]]

Exercise 2 : Statistical Analysis

In [48]:
from numpy import random
random_array = random.randint(100,size = 50)
print(random_array)
print("Mean:", random_array.mean())
print("Median:",np.median(random_array))

[15 33 77 46 73 28 89 94 87 49 87 59 97 16 59 73 57 88 87 86 29 98 44 68
 44 31 48 55 22 25 37 99 18 35 41 27 37 30 58 42 93 31 22 51 17 72 25 41
  4 95]
Mean: 52.78
Median: 47.0

Exercise 3 : Date Manipulation

In [51]:
import numpy as np

dates = np.arange('2023-01','2023-02', dtype='datetime64[D]')
print("January 2023 Dates:\n", dates)

January 2023 Dates:
 ['2023-01-01' '2023-01-02' '2023-01-03' '2023-01-04' '2023-01-05'
 '2023-01-06' '2023-01-07' '2023-01-08' '2023-01-09' '2023-01-10'
 '2023-01-11' '2023-01-12' '2023-01-13' '2023-01-14' '2023-01-15'
 '2023-01-16' '2023-01-17' '2023-01-18' '2023-01-19' '2023-01-20'
 '2023-01-21' '2023-01-22' '2023-01-23' '2023-01-24' '2023-01-25'
 '2023-01-26' '2023-01-27' '2023-01-28' '2023-01-29' '2023-01-30'
 '2023-01-31']

In [63]:
import pandas as pd
import numpy as np

pd.to_datetime(dates).strftime('%d.%m.%Y').tolist()

['01.01.2023',
 '02.01.2023',
 '03.01.2023',
 '04.01.2023',
 '05.01.2023',
 '06.01.2023',
 '07.01.2023',
 '08.01.2023',
 '09.01.2023',
 '10.01.2023',
 '11.01.2023',
 '12.01.2023',
 '13.01.2023',
 '14.01.2023',
 '15.01.2023',
 '16.01.2023',
 '17.01.2023',
 '18.01.2023',
 '19.01.2023',
 '20.01.2023',
 '21.01.2023',
 '22.01.2023',
 '23.01.2023',
 '24.01.2023',
 '25.01.2023',
 '26.01.2023',
 '27.01.2023',
 '28.01.2023',
 '29.01.2023',
 '30.01.2023',
 '31.01.2023']

Exercise 4 : Data Manipulation with NumPy and Pandas

In [82]:
random_numbers = np.random.randint(50,size = 25)
num_df = pd.DataFrame(random_numbers, columns =["my_numbers"])

In [89]:
import numpy as np
new_num = num_df[num_df["my_numbers"] > 20]
total= num_df["my_numbers"].sum() 
average = num_df["my_numbers"].mean() 
print("Sum:",total)
print("Mean:",average)

new_num

Sum: 629
Mean: 25.16

    my_numbers
0           47
2           40
3           42
4           35
7           44
8           35
12          29
15          39
16          49
17          32
18          49
19          28
21          28

Exercise 5 : Image Representation

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
image = np.random.randint(0, 256, size=(5, 5))