In [9]:
import pandas as pd
from pathlib import Path
csv_path = Path.home() / "Downloads" /"Credit Card Approvals (Clean Data)"/"clean_dataset.csv"   # <-- change this
df_credit = pd.read_csv(csv_path)
df_credit.head(50)

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,Industrials,White,1.250,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.460,1,1,Materials,Black,3.040,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.500,1,1,Materials,Black,1.500,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.540,1,1,Industrials,White,3.750,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.625,1,1,Industrials,White,1.710,1,0,0,0,ByOtherMeans,120,0,1
5,1,32.08,4.000,1,1,CommunicationServices,White,2.500,1,0,0,1,ByBirth,360,0,1
6,1,33.17,1.040,1,1,Transport,Black,6.500,1,0,0,1,ByBirth,164,31285,1
7,0,22.92,11.585,1,1,InformationTechnology,White,0.040,1,0,0,0,ByBirth,80,1349,1
8,1,54.42,0.500,0,0,Financials,Black,3.960,1,0,0,0,ByBirth,180,314,1
9,1,42.50,4.915,0,0,Industrials,White,3.165,1,0,0,1,ByBirth,52,1442,1
10,1,22.08,0.830,1,1,Energy,Black,2.165,0,0,0,1,ByBirth,128,0,1
11,1,29.92,1.835,1,1,Energy,Black,4.335,1,0,0,0,ByBirth,260,200,1
12,0,38.25,6.000,1,1,Financials,White,1.000,1,0,0,1,ByBirth,0,0,1
13,1,48.08,6.040,1,1,Financials,White,0.040,0,0,0,0,ByBirth,0,2690,1
14,0,45.83,10.500,1,1,Materials,White,5.000,1,1,7,1,ByBirth,0,0,1
15,1,36.67,4.415,0,0,Financials,White,0.250,1,1,10,1,ByBirth,320,0,1
16,1,28.25,0.875,1,1,CommunicationServices,White,0.960,1,1,3,1,ByBirth,396,0,1
17,0,23.25,5.875,1,1,Materials,White,3.170,1,1,10,0,ByBirth,120,245,1
18,1,21.83,0.250,1,1,Real Estate,Black,0.665,1,0,0,1,ByBirth,0,0,1
19,0,19.17,8.585,1,1,InformationTechnology,Black,0.750,1,1,7,0,ByBirth,96,0,1
20,1,25.00,11.250,1,1,Energy,White,2.500,1,1,17,0,ByBirth,200,1208,1
21,1,23.25,1.000,1,1,Energy,White,0.835,1,0,0,0,ByOtherMeans,300,0,1
22,0,47.75,8.000,1,1,Energy,White,7.875,1,1,6,1,ByBirth,0,1260,1
23,0,27.42,14.500,1,1,Utilities,Black,3.085,1,1,1,0,ByBirth,120,11,1
24,0,41.17,6.500,1,1,Materials,White,0.500,1,1,3,1,ByBirth,145,0,1
25,0,15.83,0.585,1,1,Energy,Black,1.500,1,1,2,0,ByBirth,100,0,1
26,0,47.00,13.000,1,1,ConsumerDiscretionary,Asian,5.165,1,1,9,1,ByBirth,0,0,1
27,1,56.58,18.500,1,1,Real Estate,Asian,15.000,1,1,17,1,ByBirth,0,0,1
28,1,57.42,8.500,1,1,Education,Black,7.000,1,1,3,0,ByBirth,0,0,1
29,1,42.08,1.040,1,1,Industrials,White,5.000,1,1,6,1,ByBirth,500,10000,1
30,1,29.25,14.790,1,1,ConsumerStaples,White,5.040,1,1,5,1,ByBirth,168,0,1
31,1,42.00,9.790,1,1,Utilities,Black,7.960,1,1,8,0,ByBirth,0,0,1
32,1,49.50,7.585,1,1,ConsumerDiscretionary,Asian,7.585,1,1,15,1,ByBirth,0,5000,1
33,0,36.75,5.125,1,1,Education,White,5.000,1,0,0,1,ByBirth,0,4000,1
34,0,22.58,10.750,1,1,Materials,White,0.415,1,1,5,1,ByBirth,0,560,1
35,1,27.83,1.500,1,1,Industrials,White,2.000,1,1,11,1,ByBirth,434,35,1
36,1,27.25,1.585,1,1,InformationTechnology,Black,1.835,1,1,12,1,ByBirth,583,713,1
37,0,23.00,11.750,1,1,Utilities,Black,0.500,1,1,2,1,ByBirth,300,551,1
38,1,27.75,0.585,0,0,InformationTechnology,White,0.250,1,1,2,0,ByBirth,260,500,1
39,1,54.58,9.415,1,1,Healthcare,Latino,14.415,1,1,11,1,ByBirth,30,300,1
40,1,34.17,9.170,1,1,Energy,White,4.500,1,1,12,1,ByBirth,0,221,1
41,1,28.92,15.000,1,1,Energy,Black,5.335,1,1,11,0,ByBirth,0,2283,1
42,1,29.67,1.415,1,1,Industrials,Black,0.750,1,1,1,0,ByBirth,240,100,1
43,1,39.58,13.915,1,1,Industrials,White,8.625,1,1,6,1,ByBirth,70,0,1
44,1,56.42,28.000,0,0,Energy,White,28.500,1,1,40,0,ByBirth,0,15,1
45,1,54.33,6.750,1,1,Energy,Black,2.625,1,1,11,1,ByBirth,0,284,1
46,0,41.00,2.040,0,0,Materials,Black,0.125,1,1,23,1,ByBirth,455,1236,1
47,1,31.92,4.460,1,1,InformationTechnology,Black,6.040,1,1,3,0,ByBirth,311,300,1
48,1,41.50,1.540,1,1,ConsumerDiscretionary,Asian,3.500,0,0,0,0,ByBirth,216,0,1
49,1,23.92,0.665,1,1,Energy,White,0.165,0,0,0,0,ByBirth,100,0,1

In [5]:
rows,cols = df_credit.shape
print("Rows:", rows, "Columns:", cols)

Rows: 690 Columns: 16

In [6]:
df_credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    int64
 1   Age             690 non-null    float64
 2   Debt            690 non-null    float64
 3   Married         690 non-null    int64
 4   BankCustomer    690 non-null    int64
 5   Industry        690 non-null    object
 6   Ethnicity       690 non-null    object
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    int64
 9   Employed        690 non-null    int64
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    int64
 12  Citizen         690 non-null    object
 13  ZipCode         690 non-null    int64
 14  Income          690 non-null    int64
 15  Approved        690 non-null    int64
dtypes: float64(3), int64(10), object(3)
memory usage: 86.4+ KB

Dataset: "Credit Card Approvals"
1. This dataset contains 690 rows and 16 columns.
2. Columns include age,gender,employment status, debt status,credit score and income.
3. This dataset helps to analyze trends and factors influencing credit card approvals.

In [7]:
df_credit.columns

Index(['Gender', 'Age', 'Debt', 'Married', 'BankCustomer', 'Industry',
       'Ethnicity', 'YearsEmployed', 'PriorDefault', 'Employed', 'CreditScore',
       'DriversLicense', 'Citizen', 'ZipCode', 'Income', 'Approved'],
      dtype='object')

Columns: 
'Gender'           - qualitative    - Category 0 and 1, even it looks like numerical value -> not measurable value (Male/Female)
'Age'              - quantitative   - Represented by a numerical value that can be ordered.
'Debt'             - quantitative   - Represents the amount of debt a person has. Itâ€™s a numeric measure 
'BankCustomer'     - qualitative    - Category 0 and 1 either person is a customer of the Bank (1) or not (0).-> not measurable 
'Industry'         - qualitative    - Different types of job industries as text labels -> not mesurable numeric values
'Ethnicity'        - qualitative    - Represents groups. There categories with no numeric meaning.
'YearsEmployed'    - quantitative   - Amount of years person is employed (numeric value)
'PriorDefault'     - qualitative    - Indicates whether a person has defaulted before (1/0) - yes or no.Categorical label.
'Employed'         - qualitative    - Indicated whether the person is employed or not (1/0) -yes or no. Categorical label.
'CreditScore'      - quantitative   - A numeric measure of creditworthiness, numeric value and can be measured
'DriversLicense'   - qualitative    - Indicates whether a person has driving license (1/0) - yes or no.Categorical label.
'Citizen'          - qualitative    - Represents citizenship status as text labels
'ZipCode'          - qualitative    - Represents georgraphic location. Even tough it's stored as numbers it can't be mesaured
'Income'           - quantitative   - Represented in  a numeric value(measurable) and shows the income of a person
'Approved'         - qualitative    - Indicated if the credit card was approved or not as a category 0 or 1 (yes or no)