In [6]:
import pandas as pd
from pathlib import Path
csv_path = Path.home() / "Downloads" /"Iris Dataset"/"Iris.csv"   # <-- change this
df_iris = pd.read_csv(csv_path)
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
rows,cols = df_iris.shape
print("Rows:", rows, "Columns:", cols)

Rows: 150 Columns: 6

In [3]:
df_iris.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

Columns:
'Id'        - qualitative - acts as an identifier for each row . Even though it's stored as numbers it has no measurable meaning
'SepalLengthCm' - quantitative - Represents a length of sepal in cm. A measurable numeric value
'SepalWidthCm'  - quantitative - Represents a width of sepal in cm. A measurable numeric value
'PetalLengthCm' - quantitative - Represents a length of petal in cm. A measurable numeric value
'PetalWidthCm'  - quantitative - Represents a width of petal in cm. A measurable numeric value
'Species'       - qualitative  - Indicates the species of the flower. A categorical label.